body{
   max-width: 1270px;
   background-color: bisque;
   align-items: center;
   border-radius: 20px;
}
.hero-container{
    display: flex;
    background-color: lightgreen;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    /* align-items: center; */
    gap: 30px;
    border-radius: 20px;


   
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
body{
   max-width: 1270px;
   background-color: bisque;
   align-items: center;
   border-radius: 20px;
}
.hero-container button{
    font-size: 1.2em;
    background-color: aqua;

}