body{
    max-width: 1270px;
    background-color:lightblue;
}
.section-container{
    text-align: center;
    
}
.card-container{
    display: flex;
    gap: 25px;
    border: 2px;
    flex-wrap: wrap;
   
}
.card {
  width: 300px;
  border: 3px solid lightgreen;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 10px gray;
  background-color: lightseagreen;
  

  }



.card img {
  width: 300px;
}
button{
    background-color: aqua;
}

/* 
.card{
    width:300px solid colo;
    border: 30px color solid lightgreen;
    padding: 10px;



}
.card img{
    width: 300px;
} */